{% extends 'base.html' %}

{% block body %} 
<div  class="signin">
    <div class="form-bg">
        <div class="header">
        <h1 class="title">Login</h1>
        <p class="subtitle">Please enter your credentials</p>
        </div>

        <form action="/" method="POST" class="form">
            <div class="form-item">
                <input type="email" name="email" placeholder="Email" class="input" required>
            </div>
            <div class="form-item">
                <input type="password" name="password" placeholder="Password" class="input" required>
            </div>

        <button type="submit" class="button">Sign in</button>
        </form>

    </div>
</div>
{% endblock %}